@if (!isLoading && !hasError && totalPages > 1) {
  <nav class="d-flex justify-content-center mt-4">
    <ul class="pagination">
      <li class="page-item" [class.disabled]="currentPage === 1">
        <button
          class="page-link bg-black bg-opacity-50 border-0"
          type="button"
          (click)="onPrevious()"
          [disabled]="currentPage === 1"
        >
          Previous
        </button>
      </li>

      @for (page of pages; track page) {
        <li class="page-item" [class.active]="currentPage === page">
          <button
            class="page-link bg-black bg-opacity-50 border-0"
            type="button"
            (click)="onSelectPage(page)"
          >
            {{ page }}
          </button>
        </li>
      }

      <li class="page-item" [class.disabled]="currentPage === totalPages">
        <button
          class="page-link bg-black bg-opacity-50 border-0"
          type="button"
          (click)="onNext()"
          [disabled]="currentPage === totalPages"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
}
