<div class="mb-4 d-flex justify-content-start">
  <div class="input-group search-bar-custom">
    <input
      #searchInput
      type="text"
      class="form-control text-light bg-black bg-opacity-50 border-secondary border-0 search-input-custom"
      [placeholder]="placeholder"
      (keyup.enter)="onSearch(searchInput.value)"
    >
    <button
      class="btn btn-outline-primary ms-2"
      type="button"
      (click)="onSearch(searchInput.value)"
    >
      {{ buttonLabel }}
    </button>
  </div>
</div>
